/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire page */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}
/* Header */
header {
    background-color: #f8f8f8;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.buttons button {
    background-color: white;
    padding: 12px 22px;
    border: none;
    
    margin-left: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #ddd;
}

/* Navigation Bar */
nav {
    background-color: #333;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li {
    padding: 15px 20px;

}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: gold;
} 

/*hero section */
.hero {
    display: flex;
    height: 450px;
}

.hero-image {
    flex: 3;
    background-color: lightgray;


}
.events {
    flex: 1;
    background-color: grey;
    padding: 20px;
    color: white;

}

/* intro section */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;

}
.graphic {
    width: 450px;
    height: 350px;
    background: lightgray;
}

.intro-text {
    text-align: center;
}
.intro-text h2 {
    margin-bottom: 30px;
}
.small-image {
    width: 250px;
    height: 220px;
    background: lightgray;
}

/* features */
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 60px;
}
.feature.reverse {
    flex-direction: row-reverse;

}
.text {
    flex: 1;
}
.text h3 {
    margin-bottom: 10px;

    font-style: regular;

}

.text h1 {
    margin-bottom: 20px;
    font-size: 42px;
}
.text.button {
    padding: 12px 22px;
    border: none;
    background:#ddd;
    cursor: pointer;
    font-weight: bold;


}
.text button:hover {
    background-color: #bbb;
}
.image
    {
        flex: 1;
        height: 320px;
        overflow: hidden;
        border-radius: 8px;
    }
.image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
/*intro section images */
.graphic,
.small-image{
    overflow: hidden;
}

.graphic img,
.small-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   

/*responsive */
@media (max-width: 900px) {
   .top-header {

        flex-direction: column;
        gap: 20px;

   }
nav ul {
        flex-direction: column;
        text-align: center;
   }
.hero {
        flex-direction: column;
        height: auto;
   }
.hero-image {
        height: 350px;
   }

.feature,
.feature.reverse,
.intro {
        flex-direction: column;
    
   }
.graphic,
.image,
.small-image {
        width: 100%;
}
}