/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire page */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}
/* Header */
header {
    background-color: #f8f8f8;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.buttons button {
    background-color: white;
    padding: 12px 22px;
    border: none;
    
    margin-left: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #ddd;
}

/* Navigation Bar */
nav {
    background-color: #333;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li {
    padding: 15px 20px;

}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #gold;
}