/* Reset default browser spacing */
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Roboto+Slab:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mansalva', sans-serif;
}
h2 {
    font-family: 'Roboto Slab' , serif;
    font-weight: 900;
    font-size: 2.0rem;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* Entire page */
body {
    background-color: #ffffff;
    color: #000000;
}

.hero-wrapper {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    width:100%
}


/* Header */
.site_header {
    width: 100%;
    flex-shrink: 0;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #707070;
}


.logo {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.main-nav{
    display: flex;
    gap: 15px;
}

.main-nav a {
    background-color: #ddd;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
}

/* Navigation Bar */
.main-nav .btn{
    background-color: #d1d1d1;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid #999;

}

.sub-bar{
    background-color: #4A4A4A;
    padding:10px 40px;
    display: flex;
    justify-content: center;
}
.sub-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width:100%;
    max-width: 1000px;
}
.sub-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
} 

/*hero section */
.hero-section {
    display: flex;
    height: 400px;
    flex:1;
    background-color: #bcbcbc;
    
}

.hero-banner {
    flex: 3;
    border-right:2px solid #ffffff;
    border-right: 2px solid #707070;
    margin-right: -1px;


}
.upcoming-events {
    flex: 1;
    background-color: #707070;
    padding: 20px;
    font-size: 1.1rem;

}
.content-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.grid-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.reverse-row {
    flex-direction: row-reverse;
}

.media-side, .text-side {
    flex: 1;

}

.image-placeholder {
    width: 100%;
    background-color: #d1d1d1;

}
.box-placeholder {
    height: 250px;
}
.small-box {
    height: 150px;
    max-width: 250px;
}

.sub-title {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 10px;
}


.learn-more {
    display: inline-block !important;
    background-color: #d1d1d1 !important;
    color: #000 !important;
    padding: 8px 18px !important;
    text-decoration: none !important;
    font-size: 0.9rem !important; 
    font-style: normal !important;
    font-weight: bold !important;
    border: 1px solid #999 !important;
    border-radius: 4px !important;
    margin-top:10px !important;
    transition: background-color 0.2s ease !important;
}

.learn-more:hover {
    background-color: #bcbcbc !important;
}

.abstract-art {
    position: relative;
    height: 350px;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.yellow-circle {
    width: 180px;
    height: 180px;
    border: 15px solid #dede2f;
    top: 20px;
    left: 20px;
}

.blue-circle {
    width: 60px;
    height: 60px;
    border: 8px solid #33b5e5;
    top:0;
    left:150px;
}

.pink-circle {
    width:100px;
    height:100px;
    border:12px solid #cc2993;
    bottom:10px;
    left:40px;
}

.tilted-frame {
    position:absolute;
    width:200px;
    height:260px;
    background-color: #000;
    top: 40px;
    left: 90px;
    padding: 8px;
    transform: rotate(-8deg);
}

.tilted-frame .image-placeholder {
    height:100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Mansalva', sans-serif;
    background-color: #f4f4f4;
    color:#111;
}
.hero-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:180px;
}

.hero-box-left{
    background-color: #727272;
    display:flex;
    height: 640px;
    flex:1;
}
.hero-box-right{
    background-color: #b5b5b5;
    display:flex;
}

.info-row{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding:20px 16px;
    text-align:center;
    align-items: start;
}
.info-card h4{
    font-family: 'Mansalva';
    font-size:15px;
    margin-bottom: 8px;
    font-weight: 600;

}
.placeholder-box{
    background-color:#d8d8d8;
    height:140px;
    border-radius:2px;
    width:100%;
}

.content-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.reverse-row {
    flex-direction: row-reverse;
}

.media-side, .text-side {
    flex: 1;
}

.image-placeholder {
    width: 100%;
    background-color: #d1d1d1;
}

.box-placeholder {
    height: 250px;
}

/* add-on section */
.addons-container {
   padding: 20px 0 60px 0;
   position: relative;
   max-width: 380px;
   margin:0 auto;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.addons-title {
   font-family: 'Roboto Slab' , serif;
   font-weight: 900;
   font-size: 2.0rem;
   line-height: 1.2;
   text-align: center;
   font-family: 'Roboto Slab';
   margin-bottom:20px;
}
.addons-grid{
   display:flex;
   flex-direction:column;
   gap:20px;
   width:100%;
}
.addon-item {
   margin-bottom:16px;
   text-align: center;
}
.addon-item h4 {
   font-family:'Mansalva';
   font-size: 14px;
   margin-bottom: 6px;
   font-weight: 600;
}
.addon-box{
   background-color: #d8d8d8;
   height:250px;
   width:415px;
   border-radius: 2px;
}
.ring-group-left {
   position: absolute;
   top:10px;
   left:-500px;
   width:360px;
   height:360px;
   pointer-events: none;
   z-index:1;
}
.yellow-ring-1{
    position:absolute;
    width:360px;
    height:360px;
    border:18px solid #ded533;
    border-radius: 50%;
    top:0;
    left:0;
}
.yellow-ring-2{
   position:absolute;
   width:300px;
   height:300px;
   border: 14px solid #ded533;
   border-radius:50%;
   top:30px;
   left:30px;
}
.cyan-ring-top{
   position:absolute;
   width:80px;
   height:80px;
   border:11px solid #00bcd4;
   border-radius:50%;
   top:-10px;
   left:135px;
}
.magenta-ring{
   position:absolute;
   width: 75px;
   height:75px;
   border:10px solid #e91e63;
   border-radius:50%;
   bottom:-60px;
   left:-10px;
}
.ring-group-right{
   position:absolute;
   bottom:0px;
   right:-400px;
   width:240px;
   height:240px;
   pointer-events:none;
   z-index: 1;
}
.yellow-ring-right-1{
    position:absolute;
    width:240px;
    height:240px;
    border:18px solid #ded533;
    border-radius: 50%;
    top:0;
    left:0;
}
.yellow-ring-right-2{
    position:absolute;
    width:180px;
    height:180px;
    border: 14px solid #ded533;
    border-radius:50%;
    top:30px;
    left:30px; 
}
.cyan-ring-bottom{
   position:absolute;
   width:45px;
   height:45px;
   border:7px solid #00bcd4;
   border-radius: 50%;
   bottom:-10px;
   right:110px;
}
